<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <style>
        #mainPage {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to bottom, rgb(0, 153, 255), rgb(5, 21, 161));
        }

        #backLink {
            position: absolute;
            top: 10px;
            left: 10px;
            background-color: white;
            width: 5vw;
            height: 2vw;
            font-size: 1.5vw;
            text-align: center;
            align-content: center;
            line-height: 2vw;
            border-radius: 10px;
            text-decoration: none;
        }

        #contentBox {
            position: absolute;
            top: 10%;
            left: 10%;
            width: 80vw;
            height: 40vw;
            background: rgb(0, 80, 185);
            border-radius: 10px;
            display: flex;
            flex-direction: column;
        }

        #chatBox {
            flex: 1;
            overflow-y: scroll;
        }

        #messageContainer {
            display: flex;
            padding: 0.8vw;
            bottom: 0;
            background: lightgray;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }

        #messageBox {
            flex: 1;
            padding: 5px;
            border-bottom-left-radius: 10px;
            border-top-left-radius: 10px;
        }

        #messageButton {
            padding: 5px;
            border-bottom-right-radius: 10px;
            border-top-right-radius: 10px;
            text-align: center;
        }
    </style>
</head>

<body>
    <div id="mainPage">
        <a href="/" id="backLink">Back</a>
        <div id="contentBox">
            <div id="chatBox">

            </div>
            <div id="messageContainer">
                <input type="textarea" id="messageBox" placeholder="Type your message here">
                <button id="messageButton" onclick="">Send</button>
            </div>
        </div>
    </div>

    <!-- tells the page to connect to the server(io) -->
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();

        // how to handle sending a message
        messageButton.addEventListener('click', () => {
            const message = messageBox.value;
            messageBox.value = '';
            // checks if the message is empty or too long
            if (message.trim() === '') {
                alert('Please enter a message');
                return;
            } else if (message.length > 512) {
                alert('Please type a shorter message (max 512 characters)');
                return;
            }
            let currentTime = new Date().toLocaleTimeString();
            socket.emit('message', { currentTime: currentTime, content: message });
        });

        // how to handle recieving a message
        socket.on('message', message => {
            console.log(message);
            const messageElement = document.createElement('div');
            if (message.sender) {
                messageElement.innerText = ' At ' + message.date + ' in general, ' + message.sender + ' said: ' + message.content;
            } else {
                messageElement.innerText = message.content;
            }
            chatBox.appendChild(messageElement);
        });
    </script>
</body>

</html>