<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>

    <style>
        #mainPage {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to bottom, rgb(0, 153, 255), rgb(5, 21, 161));
        }
        #subPage {
            position: absolute;
            top: 10%;
            left: 10%;
            width: 80%;
            height: 80%;
            background: rgb(4, 0, 255);
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        #username {
            font-size: 3vw;
            color: white;
        }
        .link {
            font-size: 1.5vw;
            color: white;
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <div id="mainPage">
        <div id="subPage">
            <h1 id="username"></h1>
            <a id="pageLink" class="link"></a>
        </div>
    </div>
    <script>
        var session = JSON.parse(`<%- session %>`);
        console.log(session);
        
        if (session && session.user) {
            const user = session.user
            const logoutLink = document.createElement('a');
            const username = document.getElementById('username');
            const chatLink = document.getElementById('pageLink');
            logoutLink.href = '/logout';
            chatLink.href = '/chat';
            logoutLink.textContent = 'Logout';
            username.textContent = `Welcome ${user}!`;
            chatLink.textContent = 'Chat';
            logoutLink.id = 'logoutLink';
            logoutLink.className = 'link';
            document.getElementById('subPage').appendChild(logoutLink);
        } else {
            const guest = document.getElementById('username');
            const loginLink = document.getElementById('pageLink');
            loginLink.href = '/login';
            guest.textContent = 'Welcome! Please login to use the Chat page';
            loginLink.textContent = 'Login';
        }
    </script>
</body>
</html>