<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
        #mainPage {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to bottom, rgb(0, 153, 255), rgb(5, 21, 161));
        }
        form {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: rgb(4, 0, 255);
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
        }
        label {
            font-size: 2vw;
            color: white;
        }
        input {
            font-size: 2vw;
            padding: 5px;
            margin: 10px;
            border-radius: 5px;
            border: none;
        }
        button {
            font-size: 1.5vw;
            padding: 5px;
            margin: 10px;
            border-radius: 5px;
            border: none;
            background: white;
            color: black;
        }
    </style>
</head>
<body>
    <div id="mainPage">
        <form action="/login" method="post">
            <div>
                <label for="username">Username:</label>
                <input type="text" id="username" name="user" required>
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="pass" required>
            </div>
            <div>
                <button type="submit">Login</button>
            </div>
        </form>
    </div>
</body>
</html>